
.owl-clients-v1 {
  text-align: center;
}

/***colored boxed**************/
.colored-boxed {
  text-align: left;
}

.colored-boxed i {
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border: 1px solid;
  background-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  font-size: 30px;
}

.colored-boxed.green i {
  color: #72C02C;
  border-color: #554D48;
}

.tea-links a {
  color: #BCD59C;
}

.tea-links a:hover {
  color: #BCD59C;
}
  
.margin30 {
  margin-bottom: 30px; }
  
.sub-text {
  width: 100%;
}

.bgblu { 
    background: blue;
}

.center-heading {
  text-align: center;
}

.greyboy a {
  color: #999;
}

